.logo img {
    height: 500px;
    padding-bottom: 250px;
    padding-left: 100px;
}

.feat img {
    height: 190px;
    width: 195px;
    margin-right: 25px;
    margin-top: 33px;
    margin-left: 90px;
}

.featuring-button {
    background-color: #E71375;
    color: black;
    height: 60px;
    width: 400px;
    text-align: center;
    margin-left: 120px;
    margin-bottom: 130px;
}

.mayan {
    height: 300px;
    width: 220px;
    color: white;
    padding-top: 150px;
    font-family: LeagueRegular;
    text-align: center;
    letter-spacing: 6px;
}

.mayan-cities {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 35px;
    background-color: #E71375;
    color: white;
}

.bonampak {
    background-image: url("../images/guide-to-ruins/bonampak_murals.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.el-mirador {
    background-image: url("../images/guide-to-ruins/buried-furthest-reaches-petén-jungle-just-km-south-mexican-border-late-preclassic-metropolis-el-172845291.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cahal-pech {
    background-image: url("../images/guide-to-ruins/cahal-pech.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.calakmul {
    background-image: url("../images/guide-to-ruins/Calackmul00.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.xpuhil {
    background-image: url("../images/guide-to-ruins/campeche_xpuhil_900.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chichen-itza {
    background-image: url("../images/guide-to-ruins/chichen-itza-observatory.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.comalcalco {
    background-image: url("../images/guide-to-ruins/comalcalco_ruins.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.palenque {
    background-image: url("../images/guide-to-ruins/crisoforo-gaspar-hernandez-YcVM6Se8jgM-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dzibilchaltun {
    background-image: url("../images/guide-to-ruins/DSC_4348.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dzibanche {
    background-image: url("../images/guide-to-ruins/Dzibanche-costa-maya3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dzibilnocac {
    background-image: url("../images/guide-to-ruins/Dzibilnocac01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.el-rey {
    background-image: url("../images/guide-to-ruins/el_rey_ruins_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.joya-de-ceren {
    background-image: url("../images/guide-to-ruins/ES_Joya_Ceren_Estructura_3_Area_3_05_2012_1468.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kabah {
    background-image: url("../images/guide-to-ruins/kabah_ruins.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kohunlich {
    background-image: url("../images/guide-to-ruins/konhunlich_mask.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.labna {
    background-image: url("../images/guide-to-ruins/Labna.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.izamal {
    background-image: url("../images/guide-to-ruins/Mayan_pyramid\,_Izamal_\(3000834447\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mayapan {
    background-image: url("../images/guide-to-ruins/mayapan-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.oxkintok {
    background-image: url("../images/guide-to-ruins/Oxkintok.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.oxtankah {
    background-image: url("../images/guide-to-ruins/oxtankah-ruins.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.coba {
    background-image: url("../images/guide-to-ruins/rsz_coba_exp2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sayil {
    background-image: url("../images/guide-to-ruins/sayil_ruins.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tikal {
    background-image: url("../images/guide-to-ruins/tikal-38.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tonina {
    background-image: url("../images/guide-to-ruins/tonina_ruins.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tulum {
    background-image: url("../images/guide-to-ruins/Tulum-Ruin-Main-Temple-1024x768.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.uxmal {
    background-image: url("../images/guide-to-ruins/Uxmal-Mexico-1200x800.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.copan {
    background-image: url("../images/guide-to-ruins/View-of-the-Mayan-ruins-in-Copan-Honduras.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.xunantunich {
    background-image: url("../images/guide-to-ruins/xunantunich.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.yaxchilan {
    background-image: url("../images/guide-to-ruins/Yaxchilan-Main-Building-NBS.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.yaxha {
    background-image: url("../images/guide-to-ruins/Yaxha_von_oben.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogging img {
    height: 260px;
    width: 260px;
    margin-right: 25px;
    margin-top: 33px;
    margin-left: 90px;
}

