.footer {
    background-color: #911C52;
    height: 45px;
    margin-top: 10px;
}

.footer p {
    font-family: LeagueRegular;
    text-align: center;
    padding-top: 13px;
    letter-spacing: 2px;
}